Se importan las lirería necesarias para el correcto manejo de los datos.

In [408]:
import pandas as pd
import yfinance as yf
import pandas as pd

Se obtienen los datos históricos del índice sp500.

In [409]:
# Define el símbolo de la acción que te interesa
ticker = '^SPX'  

# Obtén los datos históricos
df_stock = yf.download(ticker, start="2000-01-01", end="2018-12-31")

df_stock

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-03,1469.250000,1478.000000,1438.359985,1455.219971,1455.219971,931800000
2000-01-04,1455.219971,1455.219971,1397.430054,1399.420044,1399.420044,1009000000
2000-01-05,1399.420044,1413.270020,1377.680054,1402.109985,1402.109985,1085500000
2000-01-06,1402.109985,1411.900024,1392.099976,1403.449951,1403.449951,1092300000
2000-01-07,1403.449951,1441.469971,1400.729980,1441.469971,1441.469971,1225200000
...,...,...,...,...,...,...
2018-12-21,2465.379883,2504.409912,2408.550049,2416.620117,2416.620117,7657890000
2018-12-24,2400.560059,2410.340088,2351.100098,2351.100098,2351.100098,2613670000
2018-12-26,2363.120117,2467.760010,2346.580078,2467.699951,2467.699951,4249740000
2018-12-27,2442.500000,2489.100098,2397.939941,2488.830078,2488.830078,4139010000
2018-12-28,2498.770020,2520.270020,2472.889893,2485.739990,2485.739990,3728440000

Se elimina la columna 'Adj Close'.

In [410]:
df_stock.drop(columns='Adj Close', inplace=True)
df_stock

                   Open         High          Low        Close      Volume
Date
2000-01-03  1469.250000  1478.000000  1438.359985  1455.219971   931800000
2000-01-04  1455.219971  1455.219971  1397.430054  1399.420044  1009000000
2000-01-05  1399.420044  1413.270020  1377.680054  1402.109985  1085500000
2000-01-06  1402.109985  1411.900024  1392.099976  1403.449951  1092300000
2000-01-07  1403.449951  1441.469971  1400.729980  1441.469971  1225200000
...                 ...          ...          ...          ...         ...
2018-12-21  2465.379883  2504.409912  2408.550049  2416.620117  7657890000
2018-12-24  2400.560059  2410.340088  2351.100098  2351.100098  2613670000
2018-12-26  2363.120117  2467.760010  2346.580078  2467.699951  4249740000
2018-12-27  2442.500000  2489.100098  2397.939941  2488.830078  4139010000
2018-12-28  2498.770020  2520.270020  2472.889893  2485.739990  3728440000

[4778 rows x 5 columns]

In [411]:
df_stock.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4778 entries, 2000-01-03 to 2018-12-28
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    4778 non-null   float64
 1   High    4778 non-null   float64
 2   Low     4778 non-null   float64
 3   Close   4778 non-null   float64
 4   Volume  4778 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 224.0 KB

Se ordena el índice.

In [412]:
df_stock.sort_index(inplace=True)

In [413]:
df_stock

                   Open         High          Low        Close      Volume
Date
2000-01-03  1469.250000  1478.000000  1438.359985  1455.219971   931800000
2000-01-04  1455.219971  1455.219971  1397.430054  1399.420044  1009000000
2000-01-05  1399.420044  1413.270020  1377.680054  1402.109985  1085500000
2000-01-06  1402.109985  1411.900024  1392.099976  1403.449951  1092300000
2000-01-07  1403.449951  1441.469971  1400.729980  1441.469971  1225200000
...                 ...          ...          ...          ...         ...
2018-12-21  2465.379883  2504.409912  2408.550049  2416.620117  7657890000
2018-12-24  2400.560059  2410.340088  2351.100098  2351.100098  2613670000
2018-12-26  2363.120117  2467.760010  2346.580078  2467.699951  4249740000
2018-12-27  2442.500000  2489.100098  2397.939941  2488.830078  4139010000
2018-12-28  2498.770020  2520.270020  2472.889893  2485.739990  3728440000

[4778 rows x 5 columns]

Se realiza una copia de los datos por seguridad.

In [414]:
stock_ohlc = df_stock.copy()

Se generan los indicadores técnicos

In [415]:
T = list(range(6, 21))

Relative Strength Index

In [416]:
from talib import (RSI, BBANDS, MACD,
                   NATR, WILLR, WMA,
                   EMA, SMA, CCI, CMO,
                   MACD, PPO, ROC,
                   ADOSC, ADX, MOM, STOCH, ULTOSC, MFI)

In [417]:
for t in T:
    print(f'{t:02}_RSI')

06_RSI
07_RSI
08_RSI
09_RSI
10_RSI
11_RSI
12_RSI
13_RSI
14_RSI
15_RSI
16_RSI
17_RSI
18_RSI
19_RSI
20_RSI

In [418]:
for t in T:
    stock_ohlc[f'{t:02}_RSI'] = RSI(stock_ohlc['Close'], timeperiod=t)

In [419]:
len(stock_ohlc.columns)

20

Williams %R

In [420]:
for t in T:
    stock_ohlc[f'{t:02}_WILLR'] =WILLR(stock_ohlc['High'], stock_ohlc['Low'], stock_ohlc['Close'], timeperiod=t)

In [421]:
len(stock_ohlc.columns)

35

In [422]:
import warnings

# Ignorar advertencias
warnings.filterwarnings('ignore')

Compute Bollinger Bands

In [423]:
for t in T:
    upperband, middleband, Lowerband = BBANDS(stock_ohlc['Close'], timeperiod=t, nbdevup=2, nbdevdn=2, matype=0)
    stock_ohlc[f'{t:02}_BBH'] = upperband
    stock_ohlc[f'{t:02}_BBM'] = middleband
    stock_ohlc[f'{t:02}_BBL'] = Lowerband

In [424]:
len(stock_ohlc.columns)

80

Normalized Average True Range

In [425]:
for t in T:
    stock_ohlc[f'{t:02}_NATR'] = NATR(stock_ohlc['High'], stock_ohlc['Low'], stock_ohlc['Close'], timeperiod=t)

In [426]:
len(stock_ohlc.columns)

95

Percentage Price Oscillator

In [427]:
for t in T:
    stock_ohlc[f'{t:02}_PPO'] = PPO(stock_ohlc['Close'], fastperiod=t, slowperiod=t*14, matype=0)

In [428]:
len(stock_ohlc.columns)

110

Moving Average Convergence/Divergence

In [429]:
for t in T:
    macd, macdsignal, macdhist = MACD(stock_ohlc['Close'], fastperiod=t, slowperiod=t+14, signalperiod=t-3)

    stock_ohlc[f'{t:02}_MACD'] = macd
    stock_ohlc[f'{t:02}_SIGNAL'] = macdsignal
    stock_ohlc[f'{t:02}_HISTOGRAM'] = macdhist

In [430]:
len(stock_ohlc.columns)

155

Momentum

In [431]:
for t in T:
    stock_ohlc[f'{t:02}_MOM'] = MOM(stock_ohlc['Close'], timeperiod=t)

Weighted Moving Average

In [432]:
for t in T:
    stock_ohlc[f'{t:02}_WMA'] = WMA(stock_ohlc['Close'], timeperiod=t)

Exponential Moving Average

In [433]:
for t in T:
    stock_ohlc[f'{t:02}_EMA'] = EMA(stock_ohlc['Close'], timeperiod=t)

Commodity Channel Index

In [434]:
for t in T:    
    stock_ohlc[f'{t:02}_CCI'] = CCI(stock_ohlc['High'], stock_ohlc['Low'], stock_ohlc['Close'], timeperiod=t)

Chande Momentum Oscillator

In [435]:
for t in T:
    stock_ohlc[f'{t:02}_CMO'] = CMO(stock_ohlc['Close'], timeperiod=t)

Rate of Change

In [436]:
for t in T:
    stock_ohlc[f'{t:02}_ROC'] = ROC(stock_ohlc['Close'], timeperiod=t)

Chaikin A/D Oscillator

In [437]:
for t in T:
    stock_ohlc[f'{t:02}_ADOSC'] = ADOSC(stock_ohlc['High'], stock_ohlc['Low'], stock_ohlc['Close'], stock_ohlc['Volume'], fastperiod=t-3, slowperiod=4+t)

Average Directional Movement Index

In [438]:
for t in T:
    stock_ohlc[f'{t:02}_ADX'] = ADX(stock_ohlc['High'], stock_ohlc['Low'], stock_ohlc['Close'], timeperiod=t)

In [439]:
stock_ohlc

,Open,High,Low,Close,Volume,06_RSI,07_RSI,08_RSI,09_RSI,10_RSI,...,11_ADX,12_ADX,13_ADX,14_ADX,15_ADX,16_ADX,17_ADX,18_ADX,19_ADX,20_ADX
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,1469.250000,1478.000000,1438.359985,1455.219971,931800000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04,1455.219971,1455.219971,1397.430054,1399.420044,1009000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,1399.420044,1413.270020,1377.680054,1402.109985,1085500000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06,1402.109985,1411.900024,1392.099976,1403.449951,1092300000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07,1403.449951,1441.469971,1400.729980,1441.469971,1225200000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-21,2465.379883,2504.409912,2408.550049,2416.620117,7657890000,8.099320,10.581507,12.882000,14.965667,16.830313,...,36.453171,35.140778,34.217340,33.606312,33.129170,32.715960,32.334691,31.964702,31.592964,31.259723
2018-12-24,2400.560059,2410.340088,2351.100098,2351.100098,2613670000,5.801777,7.910012,9.950798,11.865363,13.629218,...,39.288448,37.668005,36.474616,35.626060,34.946867,34.362937,33.837166,33.344514,32.868276,32.443240
2018-12-26,2363.120117,2467.760010,2346.580078,2467.699951,4249740000,41.338301,39.580502,38.439849,37.702959,37.234486,...,39.685911,38.141787,36.977861,36.129435,35.439405,34.840729,34.299313,33.791685,33.301883,32.862688
2018-12-27,2442.500000,2489.100098,2397.939941,2488.830078,4139010000,45.785940,43.675825,42.225416,41.216290,40.508343,...,39.325686,37.962059,36.912804,36.134797,35.491925,34.926691,34.410029,33.921581,33.447333,33.019112
2018-12-28,2498.770020,2520.270020,2472.889893,2485.739990,3728440000,45.184743,43.176510,41.795855,40.837384,40.167901,...,37.992242,36.939455,36.111556,35.492111,34.969443,34.498654,34.058139,33.632541,33.211250,32.826392

SMA

In [440]:
for t in T:
    stock_ohlc[f'{t:02}_SMA'] = SMA(stock_ohlc['Close'], timeperiod=t)

Stochastic Oscillator

In [441]:
for t in T:
    sLowk, sLowd = STOCH(stock_ohlc['High'], stock_ohlc['Low'], stock_ohlc['Close'], 
                           fastk_period=t+8, slowk_period=t-3, 
                           slowk_matype=0, slowd_period=t-3, slowd_matype=0)

    stock_ohlc[f'{t:02}_slowk'] = sLowk
    stock_ohlc[f'{t:02}_slowd'] = sLowd

Ultimate Oscillator

In [442]:
for t in T:
    stock_ohlc[f'{t:02}_ULTOSC'] = ULTOSC(stock_ohlc['High'], stock_ohlc['Low'], stock_ohlc['Close'], 
                                timeperiod1=t+1, timeperiod2=t+8, timeperiod3=t+22)

MFI

In [443]:
for t in T:
    stock_ohlc[f'{t:02}_MFI'] = MFI(stock_ohlc['High'], stock_ohlc['Low'], stock_ohlc['Close'], stock_ohlc['Volume'], timeperiod=t)

In [444]:
stock_ohlc

,Open,High,Low,Close,Volume,06_RSI,07_RSI,08_RSI,09_RSI,10_RSI,...,11_MFI,12_MFI,13_MFI,14_MFI,15_MFI,16_MFI,17_MFI,18_MFI,19_MFI,20_MFI
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,1469.250000,1478.000000,1438.359985,1455.219971,931800000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04,1455.219971,1455.219971,1397.430054,1399.420044,1009000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,1399.420044,1413.270020,1377.680054,1402.109985,1085500000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06,1402.109985,1411.900024,1392.099976,1403.449951,1092300000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07,1403.449951,1441.469971,1400.729980,1441.469971,1225200000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-21,2465.379883,2504.409912,2408.550049,2416.620117,7657890000,8.099320,10.581507,12.882000,14.965667,16.830313,...,15.870226,14.380976,13.272351,19.222458,24.848869,28.661603,32.436806,35.380167,38.091919,37.364859
2018-12-24,2400.560059,2410.340088,2351.100098,2351.100098,2613670000,5.801777,7.910012,9.950798,11.865363,13.629218,...,16.495623,15.166900,13.801045,12.776846,18.552333,24.040975,27.775564,31.485570,34.386546,37.065824
2018-12-26,2363.120117,2467.760010,2346.580078,2467.699951,4249740000,41.338301,39.580502,38.439849,37.702959,37.234486,...,24.635040,22.698232,20.995509,19.223702,17.880556,23.019844,27.941071,31.310509,34.674695,37.317102
2018-12-27,2442.500000,2489.100098,2397.939941,2488.830078,4139010000,45.785940,43.675825,42.225416,41.216290,40.508343,...,24.455778,30.187127,27.975846,26.010433,23.943679,22.362047,26.971452,31.414989,34.474277,37.542620
2018-12-28,2498.770020,2520.270020,2472.889893,2485.739990,3728440000,45.184743,43.176510,41.795855,40.837384,40.167901,...,23.598632,29.583034,34.588575,32.203603,30.065157,27.797261,26.048257,30.242171,34.307676,37.119635

In [445]:
stock_ohlc.dropna(inplace=True)
stock_ohlc

,Open,High,Low,Close,Volume,06_RSI,07_RSI,08_RSI,09_RSI,10_RSI,...,11_MFI,12_MFI,13_MFI,14_MFI,15_MFI,16_MFI,17_MFI,18_MFI,19_MFI,20_MFI
Date,,,,,,,,,,,,,,,,,,,,,
2001-02-09,1332.530029,1332.530029,1309.979980,1314.760010,1075500000,22.237710,26.289180,29.703064,32.528756,34.843032,...,37.727109,34.179591,40.061208,44.683410,41.672965,46.071092,49.940071,53.063409,55.522408,52.608805
2001-02-12,1314.760010,1330.959961,1313.640015,1330.310059,1039100000,40.077585,40.994197,42.027564,43.015101,43.890137,...,46.382694,42.527902,38.810301,43.925601,47.991221,44.938968,48.874959,52.365105,55.201740,57.447148
2001-02-13,1330.310059,1336.619995,1317.510010,1318.800049,1075200000,33.293291,34.969746,36.599511,38.086005,39.391763,...,37.655092,42.672005,39.387482,36.177935,41.179776,45.196093,42.478962,46.380988,49.866750,52.717827
2001-02-14,1318.800049,1320.729980,1304.719971,1315.920044,1150300000,31.682916,33.531248,35.295913,36.895875,38.300405,...,28.147593,34.471945,39.332315,36.524882,33.748465,38.617658,42.564917,40.146479,43.998134,47.463337
2001-02-15,1315.920044,1331.290039,1315.920044,1326.609985,1153700000,43.792470,43.581306,43.788970,44.179642,44.627383,...,27.037270,34.305315,39.632309,43.781544,40.870481,37.961288,42.250970,45.758120,43.295015,46.763846
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-21,2465.379883,2504.409912,2408.550049,2416.620117,7657890000,8.099320,10.581507,12.882000,14.965667,16.830313,...,15.870226,14.380976,13.272351,19.222458,24.848869,28.661603,32.436806,35.380167,38.091919,37.364859
2018-12-24,2400.560059,2410.340088,2351.100098,2351.100098,2613670000,5.801777,7.910012,9.950798,11.865363,13.629218,...,16.495623,15.166900,13.801045,12.776846,18.552333,24.040975,27.775564,31.485570,34.386546,37.065824
2018-12-26,2363.120117,2467.760010,2346.580078,2467.699951,4249740000,41.338301,39.580502,38.439849,37.702959,37.234486,...,24.635040,22.698232,20.995509,19.223702,17.880556,23.019844,27.941071,31.310509,34.674695,37.317102
2018-12-27,2442.500000,2489.100098,2397.939941,2488.830078,4139010000,45.785940,43.675825,42.225416,41.216290,40.508343,...,24.455778,30.187127,27.975846,26.010433,23.943679,22.362047,26.971452,31.414989,34.474277,37.542620
2018-12-28,2498.770020,2520.270020,2472.889893,2485.739990,3728440000,45.184743,43.176510,41.795855,40.837384,40.167901,...,23.598632,29.583034,34.588575,32.203603,30.065157,27.797261,26.048257,30.242171,34.307676,37.119635

Se codidifica el algoritmo de labelizado descrito en el artículo citado en la memoria.

In [447]:
# Se usa una ventana de 11 posiciones, prestando especial atención al punto medio

window_size = 11
half_window = window_size // 2

# Se inicializa una nueva columna para las etiquetas en stock_ohlcFrame
stock_ohlc['Label'] = 'Hold'  # Etiqueta por defecto
print(len(stock_ohlc))
# Restableciendo el índice del DataFrame
stock_ohlc.reset_index(drop=True, inplace=True)

# Ahora ejecuta el bucle con el código modificado
for i in range(half_window, len(stock_ohlc) - half_window):
    middle_price = stock_ohlc.at[i, 'Close']
    max_price = stock_ohlc['Close'][i - half_window:i + half_window + 1].max()
    min_price = stock_ohlc['Close'][i - half_window:i + half_window + 1].min()
    
    if middle_price == max_price:
        stock_ohlc.at[i, 'Label'] = 'Sell'
    elif middle_price == min_price:
        stock_ohlc.at[i, 'Label'] = 'Buy'



# Se muestra las primeras 30 filas
stock_ohlc[['Close', 'Label']].head(30)
len(stock_ohlc)

4499

4499

Se observa que se hayan creado correctamente las etiquetas

In [448]:
stock_ohlc['Label'].unique()

array(['Hold', 'Sell', 'Buy'], dtype=object)

Se realiza conteo de las etiquetas.

In [449]:
import numpy as np
# Usando np.unique para encontrar valores únicos y sus conteos
valores_unicos, conteos = np.unique(stock_ohlc['Label'], return_counts=True)

print(valores_unicos)  # Esto mostrará los valores únicos
print(conteos)

['Buy' 'Hold' 'Sell']
[ 273 3957  269]

In [450]:
stock_ohlc

,Open,High,Low,Close,Volume,06_RSI,07_RSI,08_RSI,09_RSI,10_RSI,...,12_MFI,13_MFI,14_MFI,15_MFI,16_MFI,17_MFI,18_MFI,19_MFI,20_MFI,Label
0,1332.530029,1332.530029,1309.979980,1314.760010,1075500000,22.237710,26.289180,29.703064,32.528756,34.843032,...,34.179591,40.061208,44.683410,41.672965,46.071092,49.940071,53.063409,55.522408,52.608805,Hold
1,1314.760010,1330.959961,1313.640015,1330.310059,1039100000,40.077585,40.994197,42.027564,43.015101,43.890137,...,42.527902,38.810301,43.925601,47.991221,44.938968,48.874959,52.365105,55.201740,57.447148,Hold
2,1330.310059,1336.619995,1317.510010,1318.800049,1075200000,33.293291,34.969746,36.599511,38.086005,39.391763,...,42.672005,39.387482,36.177935,41.179776,45.196093,42.478962,46.380988,49.866750,52.717827,Hold
3,1318.800049,1320.729980,1304.719971,1315.920044,1150300000,31.682916,33.531248,35.295913,36.895875,38.300405,...,34.471945,39.332315,36.524882,33.748465,38.617658,42.564917,40.146479,43.998134,47.463337,Hold
4,1315.920044,1331.290039,1315.920044,1326.609985,1153700000,43.792470,43.581306,43.788970,44.179642,44.627383,...,34.305315,39.632309,43.781544,40.870481,37.961288,42.250970,45.758120,43.295015,46.763846,Hold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4494,2465.379883,2504.409912,2408.550049,2416.620117,7657890000,8.099320,10.581507,12.882000,14.965667,16.830313,...,14.380976,13.272351,19.222458,24.848869,28.661603,32.436806,35.380167,38.091919,37.364859,Hold
4495,2400.560059,2410.340088,2351.100098,2351.100098,2613670000,5.801777,7.910012,9.950798,11.865363,13.629218,...,15.166900,13.801045,12.776846,18.552333,24.040975,27.775564,31.485570,34.386546,37.065824,Hold
4496,2363.120117,2467.760010,2346.580078,2467.699951,4249740000,41.338301,39.580502,38.439849,37.702959,37.234486,...,22.698232,20.995509,19.223702,17.880556,23.019844,27.941071,31.310509,34.674695,37.317102,Hold
4497,2442.500000,2489.100098,2397.939941,2488.830078,4139010000,45.785940,43.675825,42.225416,41.216290,40.508343,...,30.187127,27.975846,26.010433,23.943679,22.362047,26.971452,31.414989,34.474277,37.542620,Hold
4498,2498.770020,2520.270020,2472.889893,2485.739990,3728440000,45.184743,43.176510,41.795855,40.837384,40.167901,...,29.583034,34.588575,32.203603,30.065157,27.797261,26.048257,30.242171,34.307676,37.119635,Hold

Vamos a guardar una copia de los datos

Primero se eliminan las columnas que no servirán para formar las imágenes, así como los registros con valores nulos.

In [451]:
ohlcv_columns = ['Open', 'High', 'Low', 'Close', 'Volume']

In [452]:
stock_ohlc = stock_ohlc.drop(ohlcv_columns, axis=1)
stock_ohlc = stock_ohlc.dropna()
stock_ohlc

,06_RSI,07_RSI,08_RSI,09_RSI,10_RSI,11_RSI,12_RSI,13_RSI,14_RSI,15_RSI,...,12_MFI,13_MFI,14_MFI,15_MFI,16_MFI,17_MFI,18_MFI,19_MFI,20_MFI,Label
0,22.237710,26.289180,29.703064,32.528756,34.843032,36.729008,38.264250,39.515793,40.539160,41.379274,...,34.179591,40.061208,44.683410,41.672965,46.071092,49.940071,53.063409,55.522408,52.608805,Hold
1,40.077585,40.994197,42.027564,43.015101,43.890137,44.634255,45.251751,45.756269,46.164124,46.491202,...,42.527902,38.810301,43.925601,47.991221,44.938968,48.874959,52.365105,55.201740,57.447148,Hold
2,33.293291,34.969746,36.599511,38.086005,39.391763,40.512894,41.462342,42.259952,42.927080,43.483951,...,42.672005,39.387482,36.177935,41.179776,45.196093,42.478962,46.380988,49.866750,52.717827,Hold
3,31.682916,33.531248,35.295913,36.895875,38.300405,39.508795,40.535767,41.402391,42.131015,42.742739,...,34.471945,39.332315,36.524882,33.748465,38.617658,42.564917,40.146479,43.998134,47.463337,Hold
4,43.792470,43.581306,43.788970,44.179642,44.627383,45.067659,45.470139,45.823125,46.124696,46.377732,...,34.305315,39.632309,43.781544,40.870481,37.961288,42.250970,45.758120,43.295015,46.763846,Hold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4494,8.099320,10.581507,12.882000,14.965667,16.830313,18.489254,19.962291,21.271018,22.436434,23.477816,...,14.380976,13.272351,19.222458,24.848869,28.661603,32.436806,35.380167,38.091919,37.364859,Hold
4495,5.801777,7.910012,9.950798,11.865363,13.629218,15.237344,16.695322,18.014058,19.206673,20.286714,...,15.166900,13.801045,12.776846,18.552333,24.040975,27.775564,31.485570,34.386546,37.065824,Hold
4496,41.338301,39.580502,38.439849,37.702959,37.234486,36.946577,36.781292,36.699965,36.676548,36.693350,...,22.698232,20.995509,19.223702,17.880556,23.019844,27.941071,31.310509,34.674695,37.317102,Hold
4497,45.785940,43.675825,42.225416,41.216290,40.508343,40.009387,39.657621,39.410998,39.240542,39.126045,...,30.187127,27.975846,26.010433,23.943679,22.362047,26.971452,31.414989,34.474277,37.542620,Hold
4498,45.184743,43.176510,41.795855,40.837384,40.167901,39.699178,39.371838,39.145389,38.991897,38.891876,...,29.583034,34.588575,32.203603,30.065157,27.797261,26.048257,30.242171,34.307676,37.119635,Hold

In [453]:
stock_ohlc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4499 entries, 0 to 4498
Columns: 346 entries, 06_RSI to Label
dtypes: float64(345), object(1)
memory usage: 11.9+ MB

Se resetea y se ordena el indice por precaución.

In [454]:
stock_ohlc.reset_index(drop=True, inplace=True)
stock_ohlc.sort_index()

,06_RSI,07_RSI,08_RSI,09_RSI,10_RSI,11_RSI,12_RSI,13_RSI,14_RSI,15_RSI,...,12_MFI,13_MFI,14_MFI,15_MFI,16_MFI,17_MFI,18_MFI,19_MFI,20_MFI,Label
0,22.237710,26.289180,29.703064,32.528756,34.843032,36.729008,38.264250,39.515793,40.539160,41.379274,...,34.179591,40.061208,44.683410,41.672965,46.071092,49.940071,53.063409,55.522408,52.608805,Hold
1,40.077585,40.994197,42.027564,43.015101,43.890137,44.634255,45.251751,45.756269,46.164124,46.491202,...,42.527902,38.810301,43.925601,47.991221,44.938968,48.874959,52.365105,55.201740,57.447148,Hold
2,33.293291,34.969746,36.599511,38.086005,39.391763,40.512894,41.462342,42.259952,42.927080,43.483951,...,42.672005,39.387482,36.177935,41.179776,45.196093,42.478962,46.380988,49.866750,52.717827,Hold
3,31.682916,33.531248,35.295913,36.895875,38.300405,39.508795,40.535767,41.402391,42.131015,42.742739,...,34.471945,39.332315,36.524882,33.748465,38.617658,42.564917,40.146479,43.998134,47.463337,Hold
4,43.792470,43.581306,43.788970,44.179642,44.627383,45.067659,45.470139,45.823125,46.124696,46.377732,...,34.305315,39.632309,43.781544,40.870481,37.961288,42.250970,45.758120,43.295015,46.763846,Hold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4494,8.099320,10.581507,12.882000,14.965667,16.830313,18.489254,19.962291,21.271018,22.436434,23.477816,...,14.380976,13.272351,19.222458,24.848869,28.661603,32.436806,35.380167,38.091919,37.364859,Hold
4495,5.801777,7.910012,9.950798,11.865363,13.629218,15.237344,16.695322,18.014058,19.206673,20.286714,...,15.166900,13.801045,12.776846,18.552333,24.040975,27.775564,31.485570,34.386546,37.065824,Hold
4496,41.338301,39.580502,38.439849,37.702959,37.234486,36.946577,36.781292,36.699965,36.676548,36.693350,...,22.698232,20.995509,19.223702,17.880556,23.019844,27.941071,31.310509,34.674695,37.317102,Hold
4497,45.785940,43.675825,42.225416,41.216290,40.508343,40.009387,39.657621,39.410998,39.240542,39.126045,...,30.187127,27.975846,26.010433,23.943679,22.362047,26.971452,31.414989,34.474277,37.542620,Hold
4498,45.184743,43.176510,41.795855,40.837384,40.167901,39.699178,39.371838,39.145389,38.991897,38.891876,...,29.583034,34.588575,32.203603,30.065157,27.797261,26.048257,30.242171,34.307676,37.119635,Hold

In [455]:
stock_ohlc['Label']

0       Hold
1       Hold
2       Hold
3       Hold
4       Hold
        ...
4494    Hold
4495    Hold
4496    Hold
4497    Hold
4498    Hold
Name: Label, Length: 4499, dtype: object

Transformamos las etiquetas en valores numéricos de cara a posteriores procesamientos.

In [456]:
stock_ohlc['Label'] = stock_ohlc['Label'].apply(lambda x: 0 if x == 'Hold' else (1 if x == 'Buy' else (2 if x == 'Sell' else x)))

Se guarda tanto las imágenes(features) como las labels(targets) en formato ".csv".

In [457]:
stock_ohlc.drop('Label', axis=1).to_csv('features.csv',index = False)
stock_ohlc['Label'].to_csv('targets.csv', index = False)