Se importan las lirería necesarias para el correcto manejo de los datos.

In [1]:
import pandas as pd
import yfinance as yf
import pandas as pd

Se obtienen los datos históricos del índice sp500.

In [2]:
# Define el símbolo de la acción que te interesa
ticker = '^SPX'  

# Obtén los datos históricos
df_stock = yf.download(ticker, start="2000-01-01", end="2023-12-31")

df_stock

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-03,1469.250000,1478.000000,1438.359985,1455.219971,1455.219971,931800000
2000-01-04,1455.219971,1455.219971,1397.430054,1399.420044,1399.420044,1009000000
2000-01-05,1399.420044,1413.270020,1377.680054,1402.109985,1402.109985,1085500000
2000-01-06,1402.109985,1411.900024,1392.099976,1403.449951,1403.449951,1092300000
2000-01-07,1403.449951,1441.469971,1400.729980,1441.469971,1441.469971,1225200000
...,...,...,...,...,...,...
2023-12-22,4753.919922,4772.939941,4736.770020,4754.629883,4754.629883,3046770000
2023-12-26,4758.859863,4784.720215,4758.450195,4774.750000,4774.750000,2513910000
2023-12-27,4773.450195,4785.390137,4768.899902,4781.580078,4781.580078,2748450000
2023-12-28,4786.439941,4793.299805,4780.979980,4783.350098,4783.350098,2698860000
2023-12-29,4782.879883,4788.430176,4751.990234,4769.830078,4769.830078,3126060000

Se elimina la columna 'Adj Close'.

In [3]:
df_stock.drop(columns='Adj Close', inplace=True)
df_stock

                   Open         High          Low        Close      Volume
Date
2000-01-03  1469.250000  1478.000000  1438.359985  1455.219971   931800000
2000-01-04  1455.219971  1455.219971  1397.430054  1399.420044  1009000000
2000-01-05  1399.420044  1413.270020  1377.680054  1402.109985  1085500000
2000-01-06  1402.109985  1411.900024  1392.099976  1403.449951  1092300000
2000-01-07  1403.449951  1441.469971  1400.729980  1441.469971  1225200000
...                 ...          ...          ...          ...         ...
2023-12-22  4753.919922  4772.939941  4736.770020  4754.629883  3046770000
2023-12-26  4758.859863  4784.720215  4758.450195  4774.750000  2513910000
2023-12-27  4773.450195  4785.390137  4768.899902  4781.580078  2748450000
2023-12-28  4786.439941  4793.299805  4780.979980  4783.350098  2698860000
2023-12-29  4782.879883  4788.430176  4751.990234  4769.830078  3126060000

[6037 rows x 5 columns]

In [4]:
df_stock.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6037 entries, 2000-01-03 to 2023-12-29
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    6037 non-null   float64
 1   High    6037 non-null   float64
 2   Low     6037 non-null   float64
 3   Close   6037 non-null   float64
 4   Volume  6037 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 283.0 KB

Se ordena el índice.

In [5]:
df_stock.sort_index(inplace=True)

In [6]:
df_stock

                   Open         High          Low        Close      Volume
Date
2000-01-03  1469.250000  1478.000000  1438.359985  1455.219971   931800000
2000-01-04  1455.219971  1455.219971  1397.430054  1399.420044  1009000000
2000-01-05  1399.420044  1413.270020  1377.680054  1402.109985  1085500000
2000-01-06  1402.109985  1411.900024  1392.099976  1403.449951  1092300000
2000-01-07  1403.449951  1441.469971  1400.729980  1441.469971  1225200000
...                 ...          ...          ...          ...         ...
2023-12-22  4753.919922  4772.939941  4736.770020  4754.629883  3046770000
2023-12-26  4758.859863  4784.720215  4758.450195  4774.750000  2513910000
2023-12-27  4773.450195  4785.390137  4768.899902  4781.580078  2748450000
2023-12-28  4786.439941  4793.299805  4780.979980  4783.350098  2698860000
2023-12-29  4782.879883  4788.430176  4751.990234  4769.830078  3126060000

[6037 rows x 5 columns]

Se realiza una copia de los datos por seguridad.

In [7]:
stock_ohlc = df_stock.copy()

Se generan los indicadores técnicos

In [8]:
T = list(range(6, 21))

Relative Strength Index

In [9]:
from talib import (RSI, BBANDS, MACD,
                   NATR, WILLR, WMA,
                   EMA, SMA, CCI, CMO,
                   MACD, PPO, ROC,
                   ADOSC, ADX, MOM, STOCH, ULTOSC, MFI)

In [10]:
for t in T:
    print(f'{t:02}_RSI')

06_RSI
07_RSI
08_RSI
09_RSI
10_RSI
11_RSI
12_RSI
13_RSI
14_RSI
15_RSI
16_RSI
17_RSI
18_RSI
19_RSI
20_RSI

In [11]:
for t in T:
    stock_ohlc[f'{t:02}_RSI'] = RSI(stock_ohlc['Close'], timeperiod=t)

In [12]:
len(stock_ohlc.columns)

20

Williams %R

In [13]:
for t in T:
    stock_ohlc[f'{t:02}_WILLR'] =WILLR(stock_ohlc['High'], stock_ohlc['Low'], stock_ohlc['Close'], timeperiod=t)

In [14]:
len(stock_ohlc.columns)

35

In [15]:
import warnings

# Ignorar advertencias
warnings.filterwarnings('ignore')

Compute Bollinger Bands

In [16]:
for t in T:
    upperband, middleband, Lowerband = BBANDS(stock_ohlc['Close'], timeperiod=t, nbdevup=2, nbdevdn=2, matype=0)
    stock_ohlc[f'{t:02}_BBH'] = upperband
    stock_ohlc[f'{t:02}_BBM'] = middleband
    stock_ohlc[f'{t:02}_BBL'] = Lowerband

In [17]:
len(stock_ohlc.columns)

80

Normalized Average True Range

In [18]:
for t in T:
    stock_ohlc[f'{t:02}_NATR'] = NATR(stock_ohlc['High'], stock_ohlc['Low'], stock_ohlc['Close'], timeperiod=t)

In [19]:
len(stock_ohlc.columns)

95

Percentage Price Oscillator

In [20]:
for t in T:
    stock_ohlc[f'{t:02}_PPO'] = PPO(stock_ohlc['Close'], fastperiod=t, slowperiod=t*14, matype=0)

In [21]:
len(stock_ohlc.columns)

110

Moving Average Convergence/Divergence

In [22]:
for t in T:
    macd, macdsignal, macdhist = MACD(stock_ohlc['Close'], fastperiod=t, slowperiod=t+14, signalperiod=t-3)

    stock_ohlc[f'{t:02}_MACD'] = macd
    stock_ohlc[f'{t:02}_SIGNAL'] = macdsignal
    stock_ohlc[f'{t:02}_HISTOGRAM'] = macdhist

In [23]:
len(stock_ohlc.columns)

155

Momentum

In [24]:
for t in T:
    stock_ohlc[f'{t:02}_MOM'] = MOM(stock_ohlc['Close'], timeperiod=t)

Weighted Moving Average

In [25]:
for t in T:
    stock_ohlc[f'{t:02}_WMA'] = WMA(stock_ohlc['Close'], timeperiod=t)

Exponential Moving Average

In [26]:
for t in T:
    stock_ohlc[f'{t:02}_EMA'] = EMA(stock_ohlc['Close'], timeperiod=t)

Commodity Channel Index

In [27]:
for t in T:    
    stock_ohlc[f'{t:02}_CCI'] = CCI(stock_ohlc['High'], stock_ohlc['Low'], stock_ohlc['Close'], timeperiod=t)

Chande Momentum Oscillator

In [28]:
for t in T:
    stock_ohlc[f'{t:02}_CMO'] = CMO(stock_ohlc['Close'], timeperiod=t)

Rate of Change

In [29]:
for t in T:
    stock_ohlc[f'{t:02}_ROC'] = ROC(stock_ohlc['Close'], timeperiod=t)

Chaikin A/D Oscillator

In [30]:
for t in T:
    stock_ohlc[f'{t:02}_ADOSC'] = ADOSC(stock_ohlc['High'], stock_ohlc['Low'], stock_ohlc['Close'], stock_ohlc['Volume'], fastperiod=t-3, slowperiod=4+t)

Average Directional Movement Index

In [31]:
for t in T:
    stock_ohlc[f'{t:02}_ADX'] = ADX(stock_ohlc['High'], stock_ohlc['Low'], stock_ohlc['Close'], timeperiod=t)

In [32]:
stock_ohlc

,Open,High,Low,Close,Volume,06_RSI,07_RSI,08_RSI,09_RSI,10_RSI,...,11_ADX,12_ADX,13_ADX,14_ADX,15_ADX,16_ADX,17_ADX,18_ADX,19_ADX,20_ADX
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,1469.250000,1478.000000,1438.359985,1455.219971,931800000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04,1455.219971,1455.219971,1397.430054,1399.420044,1009000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,1399.420044,1413.270020,1377.680054,1402.109985,1085500000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06,1402.109985,1411.900024,1392.099976,1403.449951,1092300000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07,1403.449951,1441.469971,1400.729980,1441.469971,1225200000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-22,4753.919922,4772.939941,4736.770020,4754.629883,3046770000,68.692349,69.567254,70.239093,70.725499,71.045350,...,60.492955,57.645874,54.720295,51.819239,49.021105,46.353294,43.842337,41.491242,39.300610,37.266656
2023-12-26,4758.859863,4784.720215,4758.450195,4774.750000,2513910000,72.543015,72.824566,73.066377,73.227672,73.294261,...,60.194970,57.593475,54.861401,52.109602,49.423408,46.838138,44.386004,42.075373,39.910904,37.892036
2023-12-27,4773.450195,4785.390137,4768.899902,4781.580078,2748450000,73.853049,73.929679,74.023762,74.073948,74.054362,...,59.937329,57.556517,55.001099,52.387419,49.806100,47.299096,44.903457,42.632276,40.493841,38.490516
2023-12-28,4786.439941,4793.299805,4780.979980,4783.350098,2698860000,74.235335,74.246321,74.294385,74.310694,74.265271,...,59.867389,57.659388,55.246322,52.745991,50.251576,47.809667,45.460813,43.221852,41.104022,39.112127
2023-12-29,4782.879883,4788.430176,4751.990234,4769.830078,3126060000,65.462498,66.995098,68.100940,68.903872,69.472350,...,57.692245,55.996569,53.992081,51.817829,49.582972,47.348040,45.163850,43.055956,41.042307,39.133035

SMA

In [33]:
for t in T:
    stock_ohlc[f'{t:02}_SMA'] = SMA(stock_ohlc['Close'], timeperiod=t)

Stochastic Oscillator

In [34]:
for t in T:
    sLowk, sLowd = STOCH(stock_ohlc['High'], stock_ohlc['Low'], stock_ohlc['Close'], 
                           fastk_period=t+8, slowk_period=t-3, 
                           slowk_matype=0, slowd_period=t-3, slowd_matype=0)

    stock_ohlc[f'{t:02}_slowk'] = sLowk
    stock_ohlc[f'{t:02}_slowd'] = sLowd

Ultimate Oscillator

In [35]:
for t in T:
    stock_ohlc[f'{t:02}_ULTOSC'] = ULTOSC(stock_ohlc['High'], stock_ohlc['Low'], stock_ohlc['Close'], 
                                timeperiod1=t+1, timeperiod2=t+8, timeperiod3=t+22)

MFI

In [36]:
for t in T:
    stock_ohlc[f'{t:02}_MFI'] = MFI(stock_ohlc['High'], stock_ohlc['Low'], stock_ohlc['Close'], stock_ohlc['Volume'], timeperiod=t)

In [37]:
stock_ohlc

,Open,High,Low,Close,Volume,06_RSI,07_RSI,08_RSI,09_RSI,10_RSI,...,11_MFI,12_MFI,13_MFI,14_MFI,15_MFI,16_MFI,17_MFI,18_MFI,19_MFI,20_MFI
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,1469.250000,1478.000000,1438.359985,1455.219971,931800000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04,1455.219971,1455.219971,1397.430054,1399.420044,1009000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,1399.420044,1413.270020,1377.680054,1402.109985,1085500000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06,1402.109985,1411.900024,1392.099976,1403.449951,1092300000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07,1403.449951,1441.469971,1400.729980,1441.469971,1225200000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-22,4753.919922,4772.939941,4736.770020,4754.629883,3046770000,68.692349,69.567254,70.239093,70.725499,71.045350,...,74.906871,76.655095,71.165077,72.950572,68.231518,70.180961,65.287922,67.162991,68.540014,65.917442
2023-12-26,4758.859863,4784.720215,4758.450195,4774.750000,2513910000,72.543015,72.824566,73.066377,73.227672,73.294261,...,74.353623,76.132782,77.719762,72.389940,74.031284,69.421741,71.232009,66.428937,68.185882,69.480141
2023-12-27,4773.450195,4785.390137,4768.899902,4781.580078,2748450000,73.853049,73.929679,74.023762,74.073948,74.054362,...,73.838129,75.747326,77.344389,78.779178,73.616755,75.119447,70.626420,72.300766,67.594957,69.234955
2023-12-28,4786.439941,4793.299805,4780.979980,4783.350098,2698860000,74.235335,74.246321,74.294385,74.310694,74.265271,...,73.274669,75.264166,76.977718,78.421671,79.727186,74.721384,76.104176,71.722035,73.277112,68.665287
2023-12-29,4782.879883,4788.430176,4751.990234,4769.830078,3126060000,65.462498,66.995098,68.100940,68.903872,69.472350,...,65.071073,68.609932,70.808342,72.718681,74.340718,75.816997,71.276187,72.778783,68.761124,70.411857

Se eliminan los registros con valores nulos.

In [38]:
stock_ohlc.dropna(inplace=True)
stock_ohlc

,Open,High,Low,Close,Volume,06_RSI,07_RSI,08_RSI,09_RSI,10_RSI,...,11_MFI,12_MFI,13_MFI,14_MFI,15_MFI,16_MFI,17_MFI,18_MFI,19_MFI,20_MFI
Date,,,,,,,,,,,,,,,,,,,,,
2001-02-09,1332.530029,1332.530029,1309.979980,1314.760010,1075500000,22.237710,26.289180,29.703064,32.528756,34.843032,...,37.727109,34.179591,40.061208,44.683410,41.672965,46.071092,49.940071,53.063409,55.522408,52.608805
2001-02-12,1314.760010,1330.959961,1313.640015,1330.310059,1039100000,40.077585,40.994197,42.027564,43.015101,43.890137,...,46.382694,42.527902,38.810301,43.925601,47.991221,44.938968,48.874959,52.365105,55.201740,57.447148
2001-02-13,1330.310059,1336.619995,1317.510010,1318.800049,1075200000,33.293291,34.969746,36.599511,38.086005,39.391763,...,37.655092,42.672005,39.387482,36.177935,41.179776,45.196093,42.478962,46.380988,49.866750,52.717827
2001-02-14,1318.800049,1320.729980,1304.719971,1315.920044,1150300000,31.682916,33.531248,35.295913,36.895875,38.300405,...,28.147593,34.471945,39.332315,36.524882,33.748465,38.617658,42.564917,40.146479,43.998134,47.463337
2001-02-15,1315.920044,1331.290039,1315.920044,1326.609985,1153700000,43.792470,43.581306,43.788970,44.179642,44.627383,...,27.037270,34.305315,39.632309,43.781544,40.870481,37.961288,42.250970,45.758120,43.295015,46.763846
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-22,4753.919922,4772.939941,4736.770020,4754.629883,3046770000,68.692349,69.567254,70.239093,70.725499,71.045350,...,74.906871,76.655095,71.165077,72.950572,68.231518,70.180961,65.287922,67.162991,68.540014,65.917442
2023-12-26,4758.859863,4784.720215,4758.450195,4774.750000,2513910000,72.543015,72.824566,73.066377,73.227672,73.294261,...,74.353623,76.132782,77.719762,72.389940,74.031284,69.421741,71.232009,66.428937,68.185882,69.480141
2023-12-27,4773.450195,4785.390137,4768.899902,4781.580078,2748450000,73.853049,73.929679,74.023762,74.073948,74.054362,...,73.838129,75.747326,77.344389,78.779178,73.616755,75.119447,70.626420,72.300766,67.594957,69.234955
2023-12-28,4786.439941,4793.299805,4780.979980,4783.350098,2698860000,74.235335,74.246321,74.294385,74.310694,74.265271,...,73.274669,75.264166,76.977718,78.421671,79.727186,74.721384,76.104176,71.722035,73.277112,68.665287
2023-12-29,4782.879883,4788.430176,4751.990234,4769.830078,3126060000,65.462498,66.995098,68.100940,68.903872,69.472350,...,65.071073,68.609932,70.808342,72.718681,74.340718,75.816997,71.276187,72.778783,68.761124,70.411857

Filtramos desde 2019 en adelante, ya que son los datos nunca vistos por el modelo, ni en entrenamiento, validación o testeo. Además, este tramo contiene el covid, un evento drástico para las bolsas, y que nos proporcionará información sobre la robustez del modelo.

In [39]:
stock_ohlc = stock_ohlc.loc['2019-01-01':,:]
stock_ohlc

,Open,High,Low,Close,Volume,06_RSI,07_RSI,08_RSI,09_RSI,10_RSI,...,11_MFI,12_MFI,13_MFI,14_MFI,15_MFI,16_MFI,17_MFI,18_MFI,19_MFI,20_MFI
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-02,2476.959961,2519.489990,2467.469971,2510.030029,3733160000,51.366141,48.674962,46.753118,45.352718,44.314822,...,31.240747,28.761515,26.656690,31.734762,36.059801,33.826957,31.796038,29.611699,27.905279,31.667857
2019-01-03,2491.919922,2493.139893,2443.959961,2447.889893,3858830000,36.564095,36.604779,36.544063,36.482625,36.450188,...,31.870245,29.001798,26.852972,25.009267,29.901454,34.101451,32.097808,30.263584,28.278152,26.717917
2019-01-04,2474.330078,2538.070068,2474.330078,2531.939941,4234140000,56.779473,54.434865,52.557933,51.050376,49.831139,...,40.995440,37.396872,34.281296,31.917148,29.867716,34.164695,37.882907,35.777709,33.837992,31.724740
2019-01-07,2535.610107,2566.159912,2524.560059,2549.689941,4133120000,60.009081,57.387700,55.281651,53.579790,52.193144,...,50.845905,45.763316,42.044449,38.781538,36.278361,34.089106,37.898416,41.217475,39.043445,37.028758
2019-01-08,2568.110107,2579.820068,2547.560059,2574.409912,4120060000,64.448703,61.447083,59.025779,57.056512,55.439553,...,61.611502,54.913390,49.836445,46.067725,42.722749,40.131948,37.848270,41.246652,44.226048,42.006730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-22,4753.919922,4772.939941,4736.770020,4754.629883,3046770000,68.692349,69.567254,70.239093,70.725499,71.045350,...,74.906871,76.655095,71.165077,72.950572,68.231518,70.180961,65.287922,67.162991,68.540014,65.917442
2023-12-26,4758.859863,4784.720215,4758.450195,4774.750000,2513910000,72.543015,72.824566,73.066377,73.227672,73.294261,...,74.353623,76.132782,77.719762,72.389940,74.031284,69.421741,71.232009,66.428937,68.185882,69.480141
2023-12-27,4773.450195,4785.390137,4768.899902,4781.580078,2748450000,73.853049,73.929679,74.023762,74.073948,74.054362,...,73.838129,75.747326,77.344389,78.779178,73.616755,75.119447,70.626420,72.300766,67.594957,69.234955
2023-12-28,4786.439941,4793.299805,4780.979980,4783.350098,2698860000,74.235335,74.246321,74.294385,74.310694,74.265271,...,73.274669,75.264166,76.977718,78.421671,79.727186,74.721384,76.104176,71.722035,73.277112,68.665287
2023-12-29,4782.879883,4788.430176,4751.990234,4769.830078,3126060000,65.462498,66.995098,68.100940,68.903872,69.472350,...,65.071073,68.609932,70.808342,72.718681,74.340718,75.816997,71.276187,72.778783,68.761124,70.411857

In [40]:
stock_ohlc.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1258 entries, 2019-01-02 to 2023-12-29
Columns: 350 entries, Open to 20_MFI
dtypes: float64(349), int64(1)
memory usage: 3.4 MB

Observamos si existe alguna columna que contenga valores nulos.

In [41]:
nulos_por_columna = stock_ohlc.isnull().any()
nulos_por_columna

Open      False
High      False
Low       False
Close     False
Volume    False
          ...
16_MFI    False
17_MFI    False
18_MFI    False
19_MFI    False
20_MFI    False
Length: 350, dtype: bool

In [42]:
nulos_por_columna = stock_ohlc.isnull().any()

# Para ver las columnas que contienen valores nulos
columnas_con_nulos = nulos_por_columna[nulos_por_columna].index.tolist()

columnas_con_nulos

[]

In [43]:
stock_ohlc.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', '06_RSI', '07_RSI', '08_RSI',
       '09_RSI', '10_RSI',
       ...
       '11_MFI', '12_MFI', '13_MFI', '14_MFI', '15_MFI', '16_MFI', '17_MFI',
       '18_MFI', '19_MFI', '20_MFI'],
      dtype='object', length=350)

Guardamos los datos.

In [44]:
with pd.HDFStore('data_backtesting.h5') as store:
    store.put('data_backtesting', stock_ohlc)